---
// Definir la interfaz TypeScript para las props
import { Image } from "astro:assets";
import  BtnNuevo from "@components/ui/buttons/BtnNuevo.astro";
import FotoCyper from "@images/acelerador.jpg";

interface Props {
  title?: string;
  subTitle?: string;
  src?: string;
  url?: string;
  
}
// Define props from Astro
const { title, subTitle } = Astro.props;

---

<div class="text-center pb-8 pt-8">
  <h1 class="text-balance text-2xl font-bold text-neutral-800 dark:text-neutral-200 md:text-3xl">{title}</h1>
<p class="text-balance text-1xl font-bold text-neutral-800 dark:text-neutral-200 md:text-2xl">{subTitle}</p>
</div>


<div class="grid grid-cols-1 md:grid-cols-2 gap-8">
  <div class="flex flex-col justify-center items-center">
    <Image
        width={400}
        height={400}
        src={FotoCyper}
        alt="alt"               
        format={"jpg"}  
        class="pb-8"    
	 />
    <h1 class="text-balance text-2xl font-bold text-neutral-800 dark:text-neutral-200 md:text-3xl">{title}</h1>
    <p class="text-balance text-1xl font-bold text-neutral-800 dark:text-neutral-200 md:text-2xl pt-4 pb-4">hola</p>
   
    <BtnNuevo 
      title="Ver más"
      url=""
      />
      
  </div>
  <div class="hidden md:flex flex-col justify-center items-center">
    <Image
        width={400}
        height={400}
        src={FotoCyper}
        alt="alt"               
        format={"jpg"}  
        class="pb-8"        
	 />
    <h1 class="text-balance text-2xl font-bold text-neutral-800 dark:text-neutral-200 md:text-3xl">{title}</h1>
    <p class="text-balance text-1xl font-bold text-neutral-800 dark:text-neutral-200 md:text-2xl pt-4 pb-4" >loca</p>
    <BtnNuevo 
    title="Ver más"
    url=""
       />
  </div>
</div>

