---
// Definir la interfaz TypeScript para las props
import { Image } from "astro:assets";
import  BtnNuevo from "@components/ui/buttons/BtnNuevo.astro";
import FotoCyper1 from "@images/temporada1.jpg";
import FotoCyper2 from "@images/temporada2.jpg";
import FotoCyper3 from "@images/temporada3.jpg";

interface Props {
  title?: string;
  subTitle?: string;
  src?: string;
  url?: string;
  
}
// Define props from Astro
const { title, subTitle } = Astro.props;

---

<a href="/radiocypher"> <h1 class="mb-2 text-3xl font-bold tracking-tight text-gray-900 dark:text-white text-center pb-8">RadioCypher</h1>
</a>

<div class="text-center flex justify-around mb-10">

  
  <div class="max-w-lg bg-white border border-gray-200 rounded-lg shadow dark:bg-neutral-900 dark:border-gray-700">

  <div class="p-5">
    <Image
    width={500}
    height={500}
    src={FotoCyper1}
    alt="alt"               
    format={"jpg"}  
    class="pb-8"        
  />
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{title} - Temporada 1</h5>      
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{subTitle}</p>

      <BtnNuevo 
      title="Ver más"
      url="https://www.ivoox.com/podcast-cypherplato_sq_f12080380_1.html"
      />
     
  </div>
</div>

<div class="max-w-lg bg-white border border-gray-200 rounded-lg shadow dark:bg-neutral-900 dark:border-gray-700">

  <div class="p-5">
    <Image
    width={500}
    height={500}
    src={FotoCyper2}
    alt="alt"               
    format={"jpg"}  
    class="pb-8"        
  />
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{title} - Temporada 2</h5>      
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{subTitle}</p>
      

      <BtnNuevo 
      title="Ver más"
      url="https://www.ivoox.com/podcast-cypher-radio-2024_sq_f12390191_1.html"
         />
      
  </div>  
</div>

<div class="max-w-lg bg-white border border-gray-200 rounded-lg shadow dark:bg-neutral-900 dark:border-gray-700">

  <div class="p-5">
    <Image
    width={500}
    height={500}
    src={FotoCyper3}
    alt="alt"               
    format={"jpg"}  
    class="pb-8"        
  />
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{title} - Temporada 3</h5>      
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{subTitle}</p>  

      <BtnNuevo 
      title="Ver más"
      url="https://www.ivoox.com/podcast-cypher-radio-2024_sq_f12390191_1.html"
         />
      
  </div>  
</div>
  
</div>



