---
// Definir la interfaz TypeScript para las props
import { Image } from "astro:assets";
import BtnNuevo from "@components/ui/buttons/BtnNuevo.astro";
import FotoSpace1 from "@images/spaces3Sep.jpg";
import FotoSpace2 from "@images/spaces17Sep.jpg";

interface Props {
  title?: string;
  subTitle?: string;
  src?: string;
  url?: string;
}
// Define props from Astro
const { title, subTitle } = Astro.props;
---

<a href="/radiocypher">
  <h1
    class="mb-2 pb-8 text-center text-3xl font-bold tracking-tight text-gray-900 dark:text-white"
  >
    Spaces Común y Corriente
  </h1>
</a>

<div class="mb-10 flex justify-around text-center">
  <div
    class="max-w-lg rounded-lg border border-gray-200 bg-white shadow dark:border-gray-700 dark:bg-neutral-900"
  >
    <div class="p-5">
      <Image
        width={500}
        height={500}
        src={FotoSpace1}
        alt="alt"
        format={"jpg"}
        class="pb-8"
      />
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        {title} Transparencia en la web 3
      </h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        {subTitle}
      </p>

      <BtnNuevo title="Ver más" url="https://x.com/i/spaces/1lDxLlwrvwmxm" />
    </div>
  </div>

  <div
    class="max-w-lg rounded-lg border border-gray-200 bg-white shadow dark:border-gray-700 dark:bg-neutral-900"
  >
    <div class="p-5">
      <Image
        width={500}
        height={500}
        src={FotoSpace2}
        alt="alt"
        format={"jpg"}
        class="pb-8"
      />
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        {title} Gobernanza en la web 3
      </h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        {subTitle}
      </p>

      <BtnNuevo
        title="Ver más"
        url="https://x.com/i/spaces/1nAKEpnLDEbxL"
      />
    </div>
  </div>

  <!-- <div
    class="max-w-lg rounded-lg border border-gray-200 bg-white shadow dark:border-gray-700 dark:bg-neutral-900"
  >
    <div class="p-5">
      <Image
        width={500}
        height={500}
        src={FotoCyper3}
        alt="alt"
        format={"jpg"}
        class="pb-8"
      />
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        {title} - Temporada 3
      </h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        {subTitle}
      </p>

      <BtnNuevo
        title="Ver más"
        url="https://www.ivoox.com/podcast-cypher-radio-2024_sq_f12390191_1.html"
      />
    </div>
  </div>
  -->
</div>
